@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#root {
    padding-bottom: 2000px;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: #9CC1E3;
}

/* NAVBAR-GLOBAL */
#navbar {
    width: 100%;
    background-color: #ffffff;
    height: 52px;
    padding: 0 24px;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    width: 1128px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVBAR- LOGO AND SEARCH BAR */
.navbar-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* NAVBAR - LOGO */

.navbar-logo-container {
    margin: 8px;
    width: 34px;
    height: 100%;
}

.btn-logo {
    padding-top: 10px;
}

.navbar-logo-icon {
    font-size: 34px;
}

/* NAVBAR - SEARCH BAR */

.searchbar-container {
    width: 400px;
}

.searchbar {
    background: url(../images/magnifying-glass-solid.png) no-repeat 14px;
    background-size: 16px;
    background-color: #EEF3F8;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    height: 34px;
    width: 280px;
    padding-left: 40px;
    font-size: 14px;
}

/* NAVBAR - ITEMS */

.navbar-items-container {
    width: 64%;

}

.navbar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.btn-navbar-item {
    display: flex;
    color: #666666;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 80px;
    min-height: 52px;
    padding: 0 10px;
    font-size: 19px;

}

.navbar-icon {
    height: 24px;
    width: 24px;
    border-radius: 100px;
}

.navbar-item-legend {
    flex-wrap: wrap;
    padding-top: 1px;
    font-size: 12px;
}

.btn-premium {
    width: 152px;
}

.btn-navbar-item:hover {
    color: #161616;
    transition: color 500ms ease;
}

.btn-premium:hover {
    text-decoration: underline;
}