body {
    background: #333;
    min-height: 100vh;
    min-width: 100vw;
    margin: auto;    
    display: flex;
    justify-content: center;
}

.flex {
    border: 10px solid red;
    margin: auto;
    padding: 5px;
    background: url(https://raw.githubusercontent.com/troquatte/aula-flex-box-gratuitas-youtube/master/assets/eixo.png) no-repeat center;
    background-color: #fff;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item{
    background: red;
    display: flex;
    font-size: 2em;
    color: #eee;
    margin: 2px;
    width: 100px;
    height: 100%;
    justify-content:center;
    align-items: center;   
}